body {
  height: 100%;
  overflow: auto;
}

.imageFood {
  height: 10vh;
  width: 10vw;
}

.footer {
  background-color: aqua;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.header {
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.iniciar {
  bottom: 0;
  position: fixed;
}

.main {
  padding-top: 100px;
}

.recipes {
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.recomendation-card {
  flex: none;
  height: 150px;
  margin-right: 10%;
  scroll-snap-align: start;
  width: 40%;
}

.searchInput {
  margin-top: 80px;
}

.fav {
  margin: 10px;
}

.line-thru {
  text-decoration: line-through;
}
