<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Detalhes</title>
  </head>
  <body>
    <div style="background-color: antiquewhite">
      <h2>Nome: <%= cat.name %> - Idade: <%= cat.age %> </h2>
    </div>
  </body>
</html>