<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Não encontrado</title>
  </head>
    <body>
    <div>
      <h2>Gatito não encontrado :(</h2>
    </div>
  </body>
</html>