table {
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  text-align: center;
}

th {
  background-color: seagreen;
  font-size: large;
  font-variant: small-caps;
  margin: 10px 0;
  padding: 10px;
}

td {
  background-color: yellowgreen;
  margin: 10px;
  padding: 10px;
}

span {
  font-size: large;
  font-style: oblique;
  font-weight: 800;
}

.span-space {
  margin: 3px;
}

input {
  border: solid 1px;
  border-radius: 5px;
  font-size: large;
  margin: 10px;
}

select {
  border: solid 1px;
  border-radius: 5px;
  font-size: large;
  margin: 10px;
}

option {
  border: solid 1px;
  border-radius: 5px;
  font-size: large;
  margin: 10px;
}

.value-filter {
  width: 100px;
}

.filterON span {
  margin: 4px 15px;
}

.filter-button {
  background-color: seagreen;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: large;
  font-weight: 700;
}
