/*========== Colors ==========*/
:root {
  --main-color: #480ca8;
  --btn-color: #240046;
  --main-text-color: #f2e9e4;
  --main-game-font: 'Open Sans', sans-serif;
  --main-text-font: 'Poppins', sans-serif;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

button, input {
  width: 250px;
  padding: 8px;
  outline: 0;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 400;
  font-family: var(--main-text-font);
}

input {
  margin: 2px 0 4px;
  border: 1px solid black;
}

button {
  cursor: pointer;
}

label {
  font-family: var(--main-header-font);
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
}

.label {
  margin-left: 2px;
}

.login label {
  display: flex;
  flex-direction: column;
}

.login-buttons {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
}

.main-button {
  background-color: var(--main-color);
  color: var(--main-text-color);
  margin-bottom: 4px;
  opacity: 0.85;
}

.main-button:hover {
  opacity: 0.7;
}

.main-button:disabled {
  opacity: 0.2;
}

.gameboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Header*/
.header {
  width: 1100px;
  display: flex;
  justify-content: space-around;
  font-family: var(--main-text-font);
  margin-bottom: 60px;
}

.header img, .flex-column {
  width: 110px;
}

.bold {
  font-weight: bold;
}

.header .flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-category {
  font-size: 24px;
  font-family: var(--main-game-font);
}

.main-question {
  font-size: 30px;
  font-family: var(--main-game-font);
  width: 50%;
  text-align: center;
  margin-bottom: 8px;
}

.game-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-buttons button {
  background-color: var(--btn-color);
  opacity: 0.7;
  color: var(--main-text-color);
  margin: 4px;
}

.game-buttons button:hover {
  opacity: 0.95;
}

.game-buttons button:disabled {
  opacity: 0.2;
}

.selectedErrada {
  border: 3px solid rgb(255, 0, 0)
}

.selectedCerta {
  border: 3px solid rgb(6, 240, 15);
}

.feedback-column {
  font-family: var(--main-game-font);
  font-size: 28px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: var(--main-game-font);
  font-size: 28px;
  margin-bottom: 10px;
}

.link {
  font-size: 24px;
  text-decoration: none;
  color: var(--main-color);
  margin: 8px;
}

.link:hover {
  text-decoration: underline;
}