<style>
            
    body {
        font-size: 16px;
    }

    h1 {
        font-family: sans-serif;
        font-size: 65px;
        color: orange;
    }

    h2 {
        text-align: center;
        background-color: burlywood;
        line-height: 100px;
        font-style: italic;
        font-weight: lighter;
        text-decoration: thistle;
    }

    p {
        font-size: 3rem;
    }

    #lista {
        background-color: grey;
    }

    .classe {
        background-color: indianred;
    }

</style>