#cabecalho {
  color: seagreen;
  font-size: xx-large;
  font-family: monospace;
  font-weight: 1000;
}

p {
  font-size: small;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

#texto-tarefa {
  font-size: large;
}

#criar-tarefa {
  font-size: large;
  display: inline-block;
}

.liTask {
  width: 200px;
  border-bottom: black solid 2.5px;
  border-radius: 10%;
  margin: 5px;
  font-family: monospace;
  font-size: large;
}

#selected-task {
  background-color: seagreen;
  color: white;
}

.completed {
  text-decoration: line-through solid black;
}

#apaga-tudo {
  display: inline-block;
  font-size: large;
}

#remover-finalizados {
  font-size: large;
}

#funcionamento {
  font-family: monospace;
}
